.treeview .treeview-menu {
    transition: all;
    transition-duration: .4s;
    transform: scale(0) translateY(-123px);
    opacity: 0;
    height: 0px;
    overflow: hidden;
}

.treeview.menu-open.active .treeview-menu {
    transform: scale(1)  translateY(0);
    opacity: 1;
    height: auto;
}