.goo-menu .menu {
	-webkit-filter: url("#goo");
	filter: url("#goo");
}
.goo-menu .menu-item,
.goo-menu .menu-open-button {
	background: #dd4b39;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	margin-left: -40px;
	position: absolute;
	top: 20px;
	color: white;
	text-align: center;
	line-height: 40px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	transition: -webkit-transform ease-out 200ms;
	transition: transform ease-out 200ms;
	transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}
.goo-menu .menu-open {
	display: none;
}
.goo-menu .hamburger {
	width: 25px;
	height: 3px;
	background: white;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -12.5px;
	margin-top: -1.5px;
	transition: -webkit-transform 200ms;
	transition: transform 200ms;
	transition: transform 200ms, -webkit-transform 200ms;
}
.goo-menu .hamburger-1 {
	-webkit-transform: translate3d(0, -8px, 0);
	transform: translate3d(0, -8px, 0);
}
.goo-menu .hamburger-2 {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.goo-menu .hamburger-3 {
	-webkit-transform: translate3d(0, 8px, 0);
	transform: translate3d(0, 8px, 0);
}
.goo-menu .menu-open:checked + .menu-open-button .hamburger-1 {
	-webkit-transform: translate3d(0, 0, 0) rotate(45deg);
	transform: translate3d(0, 0, 0) rotate(45deg);
}
.goo-menu .menu-open:checked + .menu-open-button .hamburger-2 {
	-webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
	transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.goo-menu .menu-open:checked + .menu-open-button .hamburger-3 {
	-webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
	transform: translate3d(0, 0, 0) rotate(-45deg);
}
.goo-menu * {
	--height: 250px;
	--width: 380px;
	--transitionDuration: 180ms;
}
.goo-menu .menu {
	position: absolute;
	margin-left: -190px;
	padding-top: 20px;
	padding-left: 190px;
	width: var(--width);
	height: var(--height);
	box-sizing: border-box;
	font-size: 20px;
	text-align: left;
}
.goo-menu .menu-item:hover {
	background: white;
	color: #dd4b39;
}
.goo-menu .menu-item.menu-button {
	--transitionDuration: 180ms;
	transition-duration: var(--transitionDuration);
}
.goo-menu .menu-open-button {
	z-index: 2;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-duration: 400ms;
	-webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	cursor: pointer;
}
.goo-menu .menu-open-button:hover {
	-webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
	transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.goo-menu .menu-open:checked + .menu-open-button {
	transition-timing-function: linear;
	transition-duration: 200ms;
	-webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
	transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
.goo-menu .menu-open:checked ~ .menu-item {
	transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.goo-menu .menu-open:checked ~ .menu-item.menu-button {
	--angle: 0;
	--radius: 150; /*attr(radius);*/
	--x: calc(var(--cos) * var(--radius) * 1px);
	--y: calc(var(--sin) * var(--radius) * 1px);
	-webkit-transform: translate3d(var(--x), var(--y), 0);
	transform: translate3d(var(--x), var(--y), 0);
}

.goo-menu.container {
	transition: all;
	position: relative;
}

.main-side-bar.relative {
	position: relative;
	z-index: auto;
	width: auto;
	min-height: auto;
	top: auto;
	left: auto;
	padding-top: 0;
	display: block;
}
.main-side-bar.relative aside {
	position: relative;
}

.sin {
	--sin-term1: var(--angle);
	--sin-term2: calc((var(--angle) * var(--angle) * var(--angle)) / 6);
	--sin-term3: calc((var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle)) / 120);
	--sin-term4: calc(
		 (var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle)) / 5040
	);
	--sin-term5: calc(

			(
				var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) *
					var(--angle) * var(--angle)
			) / 362880
	);
	--sin: calc(var(--sin-term1) - var(--sin-term2) + var(--sin-term3) - var(--sin-term4) + var(--sin-term5));
}

/*Cosine function representation*/
.cos {
	--cos-term1: 1;
	--cos-term2: calc((var(--angle) * var(--angle)) / 2);
	--cos-term3: calc((var(--angle) * var(--angle) * var(--angle) * var(--angle)) / 24);
	--cos-term4: calc((var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle)) / 720);
	--cos-term5: calc(

			(
				var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) *
					var(--angle)
			) / 40320
	);
	--cos: calc(var(--cos-term1) - var(--cos-term2) + var(--cos-term3) - var(--cos-term4) + var(--cos-term5));
}

/* Tangent function representation */
.tan {
	--tan-term1: var(--angle);
	--tan-term2: calc((1/3) * var(--angle) * var(--angle) * var(--angle));
	--tan-term3: calc((2 / 15) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle));
	--tan-term4: calc(
		 (17/315) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) *
			var(--angle)
	);
	--tan: calc(var(--tan-term1) + var(--tan-term2) + var(--tan-term3) + var(--tan-term4));
}
