@import './components/typeahead.css';
@import './components/progressbar.css';
@import './components/progresscircle.css';
@import './components//editor.main.css';

.treeview-menu > li {
	margin: 0;
	padding-right: 5px;
}

.monaco-editor .margin {
	margin: 0;
}

.control-sidebar .treeview-menu .form-group {
	margin-left: 12px;
}

.treeview-menu .treeview-menu {
	padding-left: 5px;
}

.tableFixHead {
	overflow-y: auto;
  max-height: var(--tableheight, 200px);
  min-height: 200px;
}
.tableFixHead thead tr:first-child th {
	position: sticky;
	top: 0;
	z-index: 1000;
}
table tbody tr th:first-child {
	position: sticky;
	left: 0;
	border-right: 1px solid;
	z-index: 199;
	border-collapse: collapse;
}
.tableFixHead thead tr:last-child th {
	position: sticky;
	top: 36px;
	z-index: 1000;
}
table.fixheader {
	border-collapse: collapse;
	width: 100%;
}
.fixheader th,
.fixheader td {
	padding: 8px 16px;
}
.fixheader th {
	background: #eee;
}
.tableFixHead,
.tableFixHead td {
	box-shadow: inset 1px -1px #000;
}
.tableFixHead th {
	box-shadow: inset 1px 1px #000, 0 1px #000;
}
