@import './components/typeahead.css';
@import './components/progressbar.css';
@import './components/progresscircle.css';
@import './components//editor.main.css';

.treeview-menu > li {
	margin: 0;
	padding-right: 5px;
}

.monaco-editor .margin {
	margin: 0;
}

.control-sidebar .treeview-menu .form-group {
	margin-left: 12px;
}

.treeview-menu .treeview-menu {
	padding-left: 5px;
}

.tableFixHead {
	overflow-y: auto;
	max-height: var(--tableheight, 200px);
	min-height: 200px;
}
.tableFixHead thead tr:first-child th {
	position: sticky;
	top: 0;
	z-index: 1000;
}
table tbody tr th:first-child {
	position: sticky;
	left: 0;
	border-right: 1px solid;
	z-index: 199;
	border-collapse: collapse;
}
.tableFixHead thead tr:last-child th {
	position: sticky;
	top: 36px;
	z-index: 1000;
}
.tableFixHead.dashboard thead tr:last-child th {
	top: 0px;
}
table.fixheader {
	border-collapse: collapse;
	width: 100%;
}
.fixheader th,
.fixheader td {
	padding: 8px 16px;
}
.fixheader th {
	background: #eee;
}
.tableFixHead,
.tableFixHead td {
	box-shadow: inset 1px -1px #000;
}
.tableFixHead th {
	box-shadow: inset 1px 1px #000, 0 1px #000;
}
.content-wrapper {
	min-height: calc(100vh - 50px);
	background-color: #ecf0f5;
	z-index: 800;
}

.react-grid-layout {
	position: relative;
	transition: height 200ms ease;
}
.react-grid-item {
	transition: all 200ms ease;
	transition-property: left, top;
}
.react-grid-item.cssTransforms {
	transition-property: transform;
}
.react-grid-item.resizing {
	z-index: 1;
	will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
	transition: none;
	z-index: 3;
	will-change: transform;
}

.react-grid-item.dropping {
	visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
	background: red;
	opacity: 0.2;
	transition-duration: 100ms;
	z-index: 2;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.react-grid-item > .react-resizable-handle {
	position: absolute;
	width: 20px;
	height: 20px;
	bottom: 0;
	right: 0;
	cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
	content: "";
	position: absolute;
	right: 3px;
	bottom: 3px;
	width: 5px;
	height: 5px;
	border-right: 2px solid rgba(0, 0, 0, 0.4);
	border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-resizable-hide > .react-resizable-handle {
	display: none;
}
