@import './components/typeahead.css';
@import './components/progressbar.css';
@import './components/progresscircle.css';
@import './components//editor.main.css';

.treeview-menu > li {
	margin: 0;
	padding-right: 5px;
}

.monaco-editor .margin {
	margin: 0;
}

.control-sidebar .treeview-menu .form-group {
	margin-left: 12px;
}
